@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --dorado:#f0c505f9;
    --doradoOpaco:#e3c034;
    --blanco: #ffffff;
    --azulVIoleta: #5c43ff7b;
    --azulVioletaFuerte: #5c43ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
}

.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}

.old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido dentro de wrapper */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    background-image: url('../img/fondo\ vertical\ xv.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Para que cubra todo el fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
}

body::before{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0, 0, 5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body > *{
    position: relative;
    z-index: 2;
}

.fondo-tarjeta {
    background-image: url('../img/Invitacion\ de\ Cumpleaños\ de\ 15\ Floral\ Elegante.png'); /* Ruta de tu imagen */
    background-size: cover; /* Para que cubra todo el fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    padding: 20px; /* Un poco de espacio interior si es necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    box-shadow:  0px 0px 30px hsla(0, 0%, 1%, 0.696);;
}

/*inicio del encabezado*/

.encabezado {
    text-align: center; /* Centra el texto */
    width: 600px; /* Ajusta el ancho del fondo */
    height: 880px; /* Ajusta la altura del fondo */
    margin: 20px 10px 50px;
    padding: 20px; /* Espaciado interno */
    background-image: url('../img/cumpleañera.jpg');
    background-size: cover;
    z-index: 2; /* Asegura que el contenido está por encima del fondo */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.777);
}

.encabezado h1{
    font-size: 9em;
    color: whitesmoke;
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.826);
    position: relative;
    margin-top: 30px;
    margin-right: 500px;
}

.encabezado p{
    font-size: 4em;
    margin-top: 440px;
    margin-bottom: 40px;
    color: whitesmoke;
    text-shadow: 0 6px 10px rgb(0, 0, 0);
    position: relative;
}
/*fin del encabezado*/


/*inicio del reproductor*/

.tituloReproductor{
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--azulVioletaFuerte);
}

.reproductor-musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    width: 400px;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: var(--azulVIoleta);
    color: var(--blanco);
    margin-top: 30px;
    margin-bottom: 60px;
    box-shadow: 0 6px 10px #03030374;
}

.reproductor-musica h1 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
}

.reproductor-musica p {
    font-size: 0.8rem;
    font-weight: 360;
    opacity: 0.6;
}

#progreso {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--blanco);
    border-radius: 4px;
    margin: 30px 0 20px;
    cursor: pointer;
}

#progreso::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: var(--azulVioletaFuerte);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid var(--azulVIoleta);
    box-shadow: 0 6px 10px #03030374;
}

.controles {
    display: flex;
    justify-content: center;
}

.controles button {
    width: 40px;
    aspect-ratio: 1/1;
    margin: 10px;
    background: #130ac837;
    color: var(--blanco);
    border-radius: 50%;
    border: 1px solid var(--blanco);
    outline: 0;
    font-size: 1.4rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.632);
    cursor: pointer;
    transition: all 0.1s linear;
    color: var(--azulVioletaFuerte);
}

.controles .control:hover {
    transform: scale(1.1);
}

.controles .iconoControl{
    transform: scale(1.3);
}

.controles .iconoControl:hover {
    transform: scale(1.4);
}

/*fin del reproductor*/

/*inicio del cronometro*/

.contenedorDeCronometro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px; 
    width: 600px;
    font-size: 1.5rem;
    margin: 80px 10px 50px;
    color: var(--azulVioletaFuerte);
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.632);
}

.cronometro {
    display: flex;
    justify-content: center;
    color: var(--azulVioletaFuerte);
    margin: 20px 10px 50px;
}

.cronometro ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.cronometro li {
    display: flex;
    flex-direction: column; /* Alinea los números encima de las etiquetas */
    align-items: center;
    font-size: 1.5rem;
}

.cronometro li span {
    display: block; /* Fuerza que el número 00 esté en una línea separada */
    font-size: 3rem; /* Ajusta el tamaño del número */
    font-weight: bold;
}

.cronometro .separador {
    font-size: 3rem;
    padding: 0.3px;
    align-self: center; /* Centra los dos puntos verticalmente */
}

.contenedorDeCronometro h2{
    margin-top: 40px;
    margin-bottom: 40px;
}
/*fin del cronometro*/


/*inicio del mapa*/

.contenedorDeMapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px; 
    width: 600px;
    font-size: 1.5rem;
    margin: 80px 10px 50px;
    color: var(--azulVioletaFuerte);
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.632);
}

.contenedorDeMapa h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.map-container {
    width: 100%;
    height: 200px;
    max-width: 500px;
    margin-top: 18px;
    margin-bottom: 50px; 
    overflow: hidden;
    border: 1px solid var(--azulVioletaFuerte);
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.793);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
/*fin  del mapa*/

/*inicio del galeria*/

.contenedorDeGaleria{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 1050px;
    width: 600px;
    margin: 90px;
    font-size: 1.5rem;
    color: var(--azulVioletaFuerte);
    
}

.contenedorDeGaleria h2{
    margin-bottom: 50px;
    color: var(--azulVioletaFuerte);
    text-align: center;
    font-size: 2rem;
}

.galeria {
    max-width: 500px;
    max-height: 300px;
    margin-top: 40px;
}

.contenedorImg{
    margin-bottom: 20px;

}

.galeria img {
    width: 100%;
    height: 300px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.793);
}

.contenedorContacto{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin: 80px 10px 50px;
}

.contenedorContacto p{
    font-size: 1.3rem;
    color:var(--azulVioletaFuerte);
}

.contenedorContacto .bi-whatsapp{
    font-size: 5rem;
    color: #0ab80a;
}

.contenedorContacto h2{
    color:var(--azulVioletaFuerte);
}

.contacto{
    align-items: center;
    justify-content: center;
}

.botonContacto{
    color: var(--blanco);
    background-color:var(--azulVioletaFuerte);
}
/*fin del galeria imaganes*/


/*inicio de Redes Sociales*/

.redesSociales{
    display: flex;
    gap: 3rem;
    font-size: 3rem;
    margin: 80px 10px 50px;

}

.redesSociales a {
    color: var(--azulVioletaFuerte);
    text-decoration: none; /* Esto elimina el subrayado de los enlaces */
    transition: transform 0.5s; /* Transición para el enlace */
}

.redesSociales a:hover i {
    transform: scale(1.3); /* Aumenta el tamaño de los iconos */
    transition: transform 0.5s ease; /* Transición suave */
}

.redesSociales i {
    display: inline-block; /* Necesario para que el transform funcione */
}
/*fin de Redes Sociales*/

/*ajustamos la pantalla a una tablet*/


/*ajustamos la pantalla a un celular*/
