@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root{
    --doradoOscuro: #ffbd3afc;
    --amarilloClaro: #f9d7819e;
    --doradoclaro: #ffc400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
}

.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}

.old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido dentro de wrapper */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    background-color: rgb(238, 140, 203); /* Ruta de tu imagen */
    background-size: cover; /* Para que cubra todo el fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
}

body::before{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0, 0, 5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body > *{
    position: relative;
    z-index: 2;
}

.fondo-tarjeta {
    background-image: url('../img/v731-ning-09f.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Para que cubra todo el fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    padding: 20px; /* Un poco de espacio interior si es necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 80%;
    font-family: "Nunito", sans-serif;
    box-shadow:  0px 0px 30px hsla(0, 0%, 1%, 0.696);;
}

/*inicio del encabezado*/

.encabezado {
    text-align: center; /* Centra el texto */
    width: 600px; /* Ajusta el ancho del fondo */
    height: 880px; /* Ajusta la altura del fondo */
    margin: 20px 10px 50px;
    padding: 20px; /* Espaciado interno */
    background-image: url('../img/cumpleañeras.jpg');
    background-size: cover;
    z-index: 2; /* Asegura que el contenido está por encima del fondo */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.777);
}

.encabezado h1{
    font-size: 9em;
    color: whitesmoke;
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.826);
    position: relative;
    margin-top: 30px;
    margin-right: 500px;
}

.encabezado p{
    font-size: 4em;
    margin-top: 440px;
    margin-bottom: 40px;
    color: whitesmoke;
    text-shadow: 0 6px 10px rgb(0, 0, 0);
    position: relative;
}
/*fin del encabezado*/


/*inicio del reproductor*/

.tituloReproductor{
    margin-top: 110px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--doradoclaro);
}

.reproductor-musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff9500;
    width: 400px;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: var(--amarilloClaro);
    margin-top: 30px;
    margin-bottom: 120px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.793);

}

.reproductor-musica h1 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
    color: #ff9500;
}

.reproductor-musica p {
    font-size: 0.8rem;
    font-weight: 360;
    opacity: 0.6;
    color: #ff9500;
}

#progreso {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--amarilloClaro);
    border-radius: 4px;
    margin: 30px 0 20px;
    cursor: pointer;
}

#progreso::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: var(--doradoclaro);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid var(--doradoOscuro);
    box-shadow: 0 6px 10px #03030374;
}

.controles {
    display: flex;
    justify-content: center;
}

.controles button {
    width: 40px;
    aspect-ratio: 1/1;
    margin: 10px;
    background: #130ac837;
    color: var(--blanco);
    border-radius: 50%;
    border: 1px solid var(--amarilloClaro);
    outline: 0;
    font-size: 1.4rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.632);
    cursor: pointer;
    transition: all 0.1s linear;
    color: var(--doradoclaro);
}

.controles .control:hover {
    transform: scale(1.1);
}

.controles .iconoControl{
    transform: scale(1.3);
}

.controles .iconoControl:hover {
    transform: scale(1.4);
}

/*fin del reproductor*/

/*inicio del texto*/

.contenedorTexto{
    color: var(--doradoOscuro);
    margin-top: 120px;
    margin-bottom: 60px;
    max-width: 60%;
    text-align: center;
    font-size: 1.3rem;
}

/*fin del texto*/


/*inicio del cronometro*/

.contenedorDeCronometro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px; 
    width: 600px;
    font-size: 1.5rem;
    margin: 80px 10px 80px;
    color: var(--doradoclaro);
}

.cronometro {
    display: flex;
    justify-content: center;
    color: var(--doradoclaro);
    margin: 20px 10px 50px;
}

.cronometro ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.cronometro li {
    display: flex;
    flex-direction: column; /* Alinea los números encima de las etiquetas */
    align-items: center;
    font-size: 1.5rem;
}

.cronometro li span {
    display: block; /* Fuerza que el número 00 esté en una línea separada */
    font-size: 3rem; /* Ajusta el tamaño del número */
    font-weight: bold;
}

.cronometro .separador {
    font-size: 3rem;
    padding: 0.3px;
    align-self: center; /* Centra los dos puntos verticalmente */
}

.contenedorDeCronometro h2{
    margin-top: 40px;
    margin-bottom: 20px;
}
/*fin del cronometro*/


/*inicio del mapa*/

.contenedorDeMapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px; 
    width: 380px;
    font-size: 1.5rem;
    color: var(--doradoclaro);
    margin: 10px 0px 80px;
}

.contenedorDeMapa h2{
    margin-top: 10px;
    margin-bottom: 40px;
}

.map-container {
    width: 100%;
    height: 200px;
    max-width: 500px;
    margin-bottom: 50px; 
    overflow: hidden;
    border: 1px solid var(--doradoclaro);
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.793);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
/*fin  del mapa*/

/*inicio del galeria*/

.contenedorDeGaleria{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 1050px;
    width: 900px;
    margin: 10px;
    font-size: 1.5rem;
    color: var(--doradoclaro);
    
}

.contenedorDeGaleria h2{
    margin-bottom: 10px;
    color: var(--doradoclaro);
    text-align: center;
    font-size: 2rem;
}

.galeria {
    max-width: 500px;
    max-height: 300px;
    margin-top: 40px;
}

.contenedorImg{
    margin-bottom: 20px;

}

.galeria img {
    width: 100%;
    height: 300px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.793);
}

/*comieza la seccion de contacto*/
.contenedorContacto{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 150px 10px 80px;
}

.contenedorContacto .bi-whatsapp{
    font-size: 2.5rem;
    color: var(--doradoOscuro);

}

.contenedorContacto p{
    font-size: 1.3rem;
    color:var(--doradoclaro);
}

.contenedorContacto h2{
    color:var(--doradoclaro);
    margin-top: 80px;
}

.contacto{
    margin-top: 80px;
    gap: 50px;
}

.botonContacto{
    color: var(--blanco);
    background-color:var(--doradoclaro);
}

.botonContacto {
    display: inline-block;
    background-color: var(--doradoclaro);
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.botonContacto:hover {
    background-color: #45a049;
    transform: scale(1.1);
}
.botonContacto h1 {
    margin: 0;
    font-size: 18px;
}

/*fin del galeria imaganes*/


/*inicio de Redes Sociales*/

.redesSociales{
    display: flex;
    gap: 3rem;
    font-size: 3rem;
    margin: 80px 10px 50px;

}

.redesSociales a {
    color: var(--doradoclaro);
    text-decoration: none; /* Esto elimina el subrayado de los enlaces */
    transition: transform 0.5s; /* Transición para el enlace */
}

.redesSociales a:hover i {
    transform: scale(1.3); /* Aumenta el tamaño de los iconos */
    transition: transform 0.5s ease; /* Transición suave */
}

.redesSociales i {
    display: inline-block; /* Necesario para que el transform funcione */
}
/*fin de Redes Sociales*/


/*media querry para tablets*/


/*ajustamos la pantalla a un celular*/

@media (min-width: 360px) and (max-width: 480px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
    }

    .wrapper, .fondo-tarjeta, .tarjeta {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 98%;
        padding: 5px;
    }

    .encabezado {
        text-align: center;
        width: 90%;
        height: 450px; /* Ajusta la altura del fondo */
        padding: 20px;
        background-size: cover; /* Asegura que la imagen de fondo se muestre completa */
    }

    .encabezado h1 {
        font-size: 3em;
        margin-top: 10px;
        text-align: center;
    }

    .encabezado p {
        font-size: 2em;
        margin-top: 200px;
        margin-bottom: 20px;
    }

    /* Ajustes para el Reproductor */
    .reproductor-musica {
        width: 90%;
        padding: 5px;
        margin: 10px 15px;
    }

    .reproductor-musica h1 {
        font-size: 0.8rem;
    }

    #progreso {
        height: 4px;
    }

    #progreso::-webkit-slider-thumb {
        width: 10px; /* Tamaño más pequeño del pulgar */
        height: 10px;
    }

    .controles button {
        width: 28px; /* Botones más pequeños */
        height: 28px;
        font-size: 1rem; /* Tamaño de fuente más pequeño */
        margin: 5px;
    }

    /*inicio del texto*/

    .contenedorTexto{
        color: var(--doradoOscuro);
        max-width: 70%;
        margin: 150px 0px 60px;
        text-align: center;
        font-size: 1rem;
    }

    /*fin del texto*/


    /* Ajustes para el Cronómetro */
    .contenedorDeCronometro{
        width: 90%;
        margin: 0px 20px;
        font-size: 1rem;
        margin-top: 90px;
        text-shadow: none;
    }

    .contenedorDeGaleria{
        width: 90%;
        height: 800px;
    }

    .cronometro ul {
        gap: 0.7px;
    }

    .cronometro li span {
        font-size: 1.4rem; /* Tamaño más pequeño */
    }

    .cronometro .separador {
        font-size: 1.4rem; /* Tamaño más pequeño */
    }

    /* Mapa */
    .contenedorDeMapa {
        margin-top: 70px;
        width: 90%;
        margin: 0px 20px;
    }

    .map-container {
        max-width: 100%;
        height: 150px;
        border-radius: 15px;
    }

    /* Galería */
    .galeria {
        max-width: 100%;
        max-height: 200px;
    }

    .galeria img {
        height: 200px;
    }

    /* Botón de Contacto */

    .contenedorContacto {
        margin-top: 90px;
    }

    .contenedorContacto h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contacto{
        margin-top: 30px;
    }

    .botonContacto {
        font-size: 16px;
        padding: 8px 16px;
    }

    /* Redes Sociales */
    .redesSociales {

        gap: 2rem;
        font-size: 2rem;
        margin: 20px 0; /* Ajuste de margen */
    }

    .redesSociales a {
        color: var(--doradoclaro);
        transition: transform 0.5s;
    }

    .redesSociales a:hover i {
        transform: scale(1.3);
    }
}
